* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif; }

p {
  margin-bottom: 1.6em;
  color: black;
  margin: 0; }

.container, .footerContainer {
  width: 85%;
  max-width: 850px;
  margin: 0 auto; }

.footerContainer {
  box-sizing: border-box; }

/* ESTILO BOTONES */
.btn, .btnFooter, .btnContacto, .btn2 {
  background-color: #6a94cc;
  border: none;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s linear;
  border-radius: 5px; }

.btnFooter {
  padding: 5px 10px; }

.btn:hover, .btnFooter:hover, .btnContacto:hover, .btn2:hover {
  background-color: #22294b; }

.btnContacto {
  width: 20%; }

.btn2 {
  font-size: 1.2rem; }

.header {
  background-color: #314c88;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 1; }

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2em; }

/* LOGO - HEADER*/
.logo {
  width: 100px;
  padding-top: 5px; }

.logo-nav-redes-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar {
  background: #314c88; }

.dropdown-menu {
  background: #314c88; }

/* .nav-item a {
    color:white;
} */
/* .navbar-light .navbar-nav .nav-link {
    color:white;
} */
/* MENU NAVEGABLE - HEADER*/
.navMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* list-style: none;
    margin:0;
    padding: 0; */ }

.navMenu ul li {
  display: inline-block;
  padding: 0px;
  font-size: 1.8rem; }

.navMenu ul li a {
  display: block;
  background-color: transparent;
  padding: 0px 10px;
  transition: all 0.2s linear;
  border-radius: 5px; }

.navMenu ul li a:hover {
  background-color: #22294b; }

.navLabel, .navInput {
  display: none; }

/* REDES SOCIALESS - HEADER */
.redesHeader a img {
  border-radius: 105px; }

.main {
  padding: 150px 0 50px 0px;
  /*   width: 100%; */
  /*   height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/heroo3.jpg");
  background-attachment: fixed;
  opacity: 0.9; }

.main h1 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  color: whitesmoke;
  padding: 10px 0 20px 0; }

.main p {
  padding: 1rem 5rem;
  font-size: 1.4rem;
  line-height: 1em;
  color: white; }

.sobremi {
  margin-bottom: 100px; }

.sobremi-img-texto {
  padding-top: 130px; }

.sobremi-img-texto h1 {
  padding: 40px 0 20px 0;
  font-size: 3.2rem;
  line-height: 1.2em;
  text-align: center; }

.sobremi-img-texto p {
  padding: 0.5rem 3rem;
  margin-bottom: 1.2em;
  font-size: 1.2rem;
  line-height: 1em; }

.sobremi-img-texto img {
  width: 35%;
  border-radius: 220px; }

/* ESTILOS DE LA GALERIA DE IMAGENES */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 33%;
  grid-gap: 10px; }
  .gridContainer h2 {
    font-size: 1rem; }

.gridItem {
  position: relative; }

.gridItem:nth-child(2) {
  grid-row-start: span 2; }

.gridItem:nth-child(6) {
  grid-column-end: span 3; }

.gridImg {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gridTitle {
  position: absolute;
  bottom: 0;
  color: white;
  background: #14264e;
  background: linear-gradient(180deg, #14264e 0%, #314c88 100%);
  width: 100%;
  margin: 0;
  padding: 2px; }

.areas {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  /* background-color: #222; */
  /* list-style: none; */
  padding-top: 180px;
  padding-bottom: 50px;
  /* text-align: center; */
  box-sizing: border-box; }

.areas-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px; }

.areas-container .box {
  background-color: #2C2E4B;
  padding: 20px;
  display: grid;
  font-size: 1.4rem;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s; }

.areas-container .box p {
  color: #fff;
  padding: 20px 0; }

.areas-container .box:hover {
  background: #6a94cc; }

.areas-container .box img {
  position: relative;
  max-width: 100px;
  padding: 10px 0 20px 0; }

.areas-container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2; }

.areas-container .box:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1; }

.areas-container .box:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1; }

.areas-container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1; }

.areas-container .box:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1; }

.areas-container .box:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1; }

.novedades {
  padding: 170px 0 50px 0; }
  .novedades h1 {
    padding: 20px 0; }

.novedades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.novedades-container p {
  color: black;
  font-size: 1rem;
  padding: 5px 20px 0px 20px; }

.novedades-container h2 {
  padding: 0px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold; }

.novedades-container h3 {
  padding: 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold; }

/* ACA PONGO TODO LO DE CARDS */
.card {
  height: 500px;
  width: 300px;
  height: 520px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 15px;
  object-fit: contain; }

.card:hover {
  background-color: gray;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
  text-decoration: none; }

.card:hover h2 {
  transition: all 1s ease;
  text-decoration: none;
  color: white; }

.card:hover p {
  transition: all 1s ease;
  text-decoration: none;
  color: white; }

.card-image {
  background-color: aqua;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0; }

.card-1 {
  background-image: url(../images/cards-img/1.jpg); }

.card-2 {
  background-image: url(../images/cards-img/2.jpg); }

.card-3 {
  background-image: url(../images/cards-img/3.jpg); }

.card-4 {
  background-image: url(../images/cards-img/4.jpg); }

.card-5 {
  background-image: url(../images/cards-img/5.jpg); }

.card-6 {
  background-image: url(../images/cards-img/6.jpg); }

.card-7 {
  background-image: url(../images/cards-img/7.jpg); }

.card-8 {
  background-image: url(../images/cards-img/8.jpg); }

.card-9 {
  background-image: url(../images/cards-img/9.jpg); }

.contacto {
  padding: 120px 0px 50px 0px;
  font-size: 1.4rem;
  color: black; }

.form-container {
  text-align: left;
  align-content: center;
  padding-top: 25px;
  padding: 1em;
  background: #314c88;
  color: white;
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px; }

.form-container h1 {
  padding: 0px 0 30px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1em; }

.formContainer label {
  display: block;
  letter-spacing: 3.5px;
  margin-bottom: 16px; }

.form-container .title h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px; }

.form-container .half {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.form-container .half .item {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 24px;
  width: 48%; }

.form-container .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: rgba(209, 226, 231, 0.501);
  font-size: 1.2rem; }

.form-container .full {
  margin-bottom: 24px; }

.form-container .full textarea {
  background: rgba(209, 226, 231, 0.501);
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 1.2rem; }

.form-container .action {
  margin-bottom: 32px; }

.form-container .action input {
  background: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
  color: #314c88; }

.form-container .icons a {
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
  text-decoration: none;
  color: #314c88; }

.form-container .half .item input:focus, .form-container .full textarea:focus {
  background: white; }

.form-container .action input[type="submit"]:hover, .form-container .action input[type="reset"]:hover, .form-container .icons a:hover {
  background: #314c88;
  color: white; }

.footer-container {
  padding: 2rem;
  background-color: #2C2E4B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer-container .newsletter {
    padding: 50px 0;
    text-align: center;
    color: white; }
    .footer-container .newsletter h3 {
      font-size: 2rem; }
    .footer-container .newsletter p {
      max-width: 600px;
      margin: 40px auto;
      color: white;
      font-size: 20px;
      font-weight: 300; }
    .footer-container .newsletter .email-box {
      height: 40px;
      display: flex;
      justify-content: center; }
      .footer-container .newsletter .email-box i {
        background: #6a94cc;
        width: 40px;
        line-height: 40px; }
      .footer-container .newsletter .email-box .t-box, .footer-container .newsletter .email-box .btn-f {
        border: none;
        outline: none; }
      .footer-container .newsletter .email-box .t-box {
        width: 0px;
        transition: 0.6s; }
    .footer-container .newsletter .email-box:hover > .t-box, .footer-container .newsletter .tbox:focus {
      width: 225px;
      padding: 0 10px; }
    .footer-container .newsletter .btn-f {
      background: #2f3542;
      background: #6a94cc;
      color: white;
      font-size: 1.2rem;
      padding: 0 10px;
      text-transform: uppercase;
      cursor: pointer; }
  .footer-container .footerEnd {
    background: white;
    padding: 2rem 0 20px 0;
    color: white; }
    .footer-container .footerEnd span {
      color: black; }
  .footer-container .contact-info {
    display: flex;
    width: 100%;
    max-width: 850px; }
    .footer-container .contact-info .card {
      background: #314c88;
      padding: 0 20px;
      width: calc(33% - 20px);
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .footer-container .contact-info .card p {
        color: #fff;
        margin-top: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        max-height: 0;
        opacity: 0;
        transition: 0.3s linear; }
    .footer-container .contact-info .card:hover p {
      max-height: 40px;
      opacity: 1; }
    .footer-container .contact-info .card-icon {
      font-size: 28px;
      background: #f2f2f2;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      border-radius: 50%;
      transition: 0.3s linear; }
    .footer-container .contact-info .card:hover .card-icon {
      background: none;
      color: #f2f2f2;
      transform: scale(1.6); }

.copyright {
  border-top: 1px solid black;
  background-color: #314c88;
  color: white; }

@media screen and (max-width: 830px) {
  .logo-nav-redes-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .navLabel {
    display: block;
    cursor: pointer; }
  .navMenu {
    background: #22294b;
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.5s ease-in-out; }
  .navInput:checked + .navMenu {
    clip-path: inset(0 0 0 0); }
  .navInput:checked + .navMenu ul {
    padding-top: 50px; }
  .navInput:checked + .navMenu ul li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 5px; }
  .navInput:checked + .navMenu ul li a {
    display: block;
    background-color: #6a94cc;
    padding: 0px 80px;
    /*  transition: all 0.2s linear; */
    border-radius: 3px; }
  .navInput:checked + .navMenu ul li a:hover {
    background: transparent;
    text-decoration: underline; }
  /* FOOTER FOOTER FOOTER FOOTER */
  .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contact-info .card {
      width: 100%;
      max-width: 300px;
      padding-bottom: 20px;
      margin: 10px 0; }
  .card {
    min-width: 250px; }
  /* INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX */
  .main {
    padding: 120px 0 0 0; }
  .main h1 {
    font-size: 2.6rem;
    padding-top: 20px; }
  .main p {
    padding: 1rem 2.5rem; }
  /* .main h1 {
        font-size:2.6rem;
        padding: 20px 0 40px 0;
        }

    .main p {
        font-size: 1.3rem;
        padding:10px 0 10px 0;
    } */
  .main p:last-child {
    padding-bottom: 50px; }
  /* ESTILOS GRID SOBRE MI */
  /* .gridItem:nth-child(6) {
        grid-column-end: span 2 ;
    
    } */
  .navLabel {
    display: block;
    cursor: pointer; } }

@media screen and (max-width: 685px) {
  .footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-items: center; }
  .contacto p {
    font-size: 1.2rem; }
  .container, .footerContainer {
    width: 90%; }
  .main h1 {
    font-size: 2.2rem;
    padding-bottom: 40px; }
  .main p {
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding: 1rem 1.5rem; }
  .sobremi-container p {
    font-size: 1.2rem; }
  .sobremi-img-texto img {
    width: 40%;
    border-radius: 220px; } }

@media screen and (max-width: 685px) and (max-width: 500px) {
  .areas-container .box:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1; }
  .areas-container .box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1; }
  .areas-container .box:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1; }
  .areas-container .box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1; }
  .areas-container .box:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1; }
  .areas-container .box:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1; }
  .sobremi-img-texto h1 {
    font-size: 2.8rem; }
  .sobremi-img-texto p {
    font-size: 1.2rem;
    padding: 0; } }

@media screen and (max-width: 685px) and (max-width: 480px) {
  .navInput:checked + .navMenu {
    top: 90px; }
  .header {
    height: 90px; }
  .logo {
    width: 80px;
    padding-top: 2px; }
  .navImg {
    width: 50px;
    height: 50px; }
  .redesHeader img {
    width: 30px;
    height: 30px; }
  /* FOOTER FOOTER FOOTER FOOTER */
  .footer-container .newsletter .email-box:hover > .t-box, .tbox:focus {
    width: 50%;
    padding: 0 10px; } }

@media screen and (max-width: 685px) {
  .footer-container .newsletter h3 {
    font-size: 1.4rem; }
  .footer-container .newsletter p {
    font-size: 1rem; }
  .footer-container .contact-info .card {
    height: 120px; }
  .footer-container .contact-info .card {
    padding: 0; }
  .footer-container .contact-info .card p {
    font-size: 0.9rem; }
  .footer-container .contact-info .card .card-icon {
    font-size: 20px;
    background: #f2f2f2;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: 0.3s linear; }
    .footer-container .contact-info .card .card-icon .card-icon i {
      width: 30px;
      height: 30px; }
  .footer-container .contact-info .card:hover .card-icon {
    background: none;
    color: #f2f2f2;
    transform: scale(1.2); }
  .sobreMi {
    padding: 100px 0 0 0; }
  .sobremi-img-texto h1 {
    font-size: 2.4rem; }
  .sobremi-img-texto p {
    font-size: 1rem; }
  .sobremi-img-texto img {
    width: 60%; }
  /* .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.2rem;
        line-height:1em ;
    }
        .sobremi-containerTabla p { 
            color: black;
            text-align: center;
        } */
  .areas {
    padding-top: 120px; }
  .areas-container .box h2 {
    font-size: 1.2rem; }
  .areas-container .box p {
    font-size: 1rem; }
  .areas-container .box img {
    width: 60px;
    height: 90px; }
  .novedades {
    padding: 120px 0 50px 0; }
    .novedades h1 {
      padding-bottom: 20px; }
  .contacto {
    padding: 70px 0px 20px 0px; }
  .form-container .half {
    flex-direction: column; }
  .form-container .action {
    display: flex;
    flex-direction: column; }
  .form-container .action input {
    margin-bottom: 10px;
    width: 100%; }
  .form-container .half .item {
    width: 100%; } }

@media screen and (max-width: 685px) and (max-width: 360px) {
  .main h1 {
    font-size: 1.6rem;
    padding: 10px 0 20px 0; }
  .main p {
    font-size: 0.8rem;
    padding: 10px 0 10px 0; }
  .sobremi-img-texto img {
    width: 80%; }
  /*     * FOOTER FOOTER FOOTER FOOTER */
  .btnFooter {
    background-color: #6a94cc;
    border: none;
    color: white;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 60%;
    transition: all 0.3s linear;
    border-radius: 5px;
    padding: 10px 10px; }
  .btnFooter {
    background-color: #6a94cc;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px; }
  .btnContacto {
    width: 50%;
    background-color: #6a94cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px; } }

@media screen and (max-width: 685px) and (max-width: 300px) {
  .areas-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 20px;
    grid-gap: 5px; }
  .areas-container .box {
    padding: 10px;
    font-size: 0.8rem; }
  .areas-container .box h2 {
    font-size: 1.2rem; }
  .areas-container .box p {
    padding: 10px 0; }
  .areas-container .box img {
    position: relative;
    max-width: 60px;
    padding: 5px 0 10px 0; } }
