.contacto {
    padding: 150px 0px 50px 0px;
    font-size: 1.4rem;
    color: black;
}



    .contacto h2 {
        padding: 20px;
        text-align: center;
        font-size:1.8rem;
        font-weight: bold;
        line-height: 1em;
    }


.formContainer{
    text-align: left;
    align-content: center;
    padding-top: 25px;
    padding:1em;

}

.formContainer label {
    font-size: 1.4rem;
}