
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    // box-sizing: border-box;
}
  
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:black;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}

p {
    margin-bottom: 1.6em;
    color:black;
    margin: 0;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}  

.footerContainer {
    @extend .container;
    box-sizing: border-box;
}

 /* ESTILO BOTONES */

.gotop-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 1px;
    right:1px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:rgb(106, 148, 204);
    font-size: 30px;
}
 
 .btn {
    background-color: rgb(106, 148, 204); 
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.btnFooter {
    @extend .btn;
    padding: 5px 10px;
}

.btn:hover {
    background-color: rgb(34, 41, 75);
}

.btnContacto {
    @extend .btn;
    width: 20%;
}

.btn2 {
    @extend .btn;
    font-size: 1.2rem;
}
