@media screen and (max-width: 970px) {

    .main h1 {
        text-align: center;
        font-size:2.6rem;
        font-weight: bold;
        color: whitesmoke;
        }
    }

@media screen and (max-width: 768px) {
    
.header {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
    }

.logo-nav-redes-conteiner{
    display: flex;
    align-content: space-around;
}

    .navLabel {
        display:block;
        cursor: pointer;
    }

    .navMenu {
        display: none;
    }

    .navInput:checked + .navMenu {
        
        background: rgb(34, 41, 75);
        position: fixed;        
        top:120px;
        left:0;
        bottom: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navInput:checked + .navMenu ul li {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        justify-items: center;
        margin: 10px;
        padding: 5px;
        width: 100%;
    }

    .navInput:checked + .navMenu ul li a {
    
        display: block;
        background-color: rgb(106, 148, 204);
        padding: 0px 20px;
        transition: all 0.2s linear;
        border-radius: 5px;
        }
    
    /* .navInput:checked + .navMenu ul li a:hover {
            background-color: rgb(34, 41, 75);
    
        } */

    .redesHeader{
        display: flex;
        flex-direction: column;
    }

/* FOOTER FOOTER FOOTER FOOTER */

.footerContainer {
   
    display: flex;
    align-content: space-around;
    
} 

.footerContainer-iframe{
    width: 50%;
    font-size: 1.2rem;

            }

/* INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX */

.main {
    padding: 120px 0 0 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image:url(/images/banner.jpg); */
    
    

}

    .main h1 {
        padding: 10px;
        text-align: center;
        font-size:2.4rem;
        font-weight: bold;
        color: whitesmoke;
        
        }

    .main p {
        width: 100%;
        padding: 0 0px 50px 0;
        font-size: 1.6rem;
        line-height: 1em;
        color:white;
        
    }

/* ESTILOS GRID SOBRE MI */
    .gridContainer {
        margin-bottom: 400px;
        
    }

    .gridContainer{
        grid-template-columns: repeat(2, 1fr);

    }

    .gridItem:nth-child(6) {
        grid-column-end: span 2 ;
    
    }

    .navLabel {
        display:block;
        cursor: pointer;

    }


   /*  .novedades p {
        color: black;
        font-size: 1.4rem;
        padding: 20px;
    }

    .novedades h2 {
        padding: 0px;
        text-align: center;
        font-size:2rem;
        font-weight: bold;
    }

    .novedades h3 {
        padding: 0px;
        text-align: center;
        font-size:2rem;
        font-weight: bold;
    }

    .item {
        font-size: 1.4rem;

    } */
        
}

@media screen and (max-width: 680px) {


    .container {
        width: 90%;

    }

    .gridContainer {
        margin-bottom: 350px;
        
    }

    .sobremi-containerImg  {
        width: 50%; 
        border-radius: 180px;
    }
    
    .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.3rem;
        line-height:1.1em ;
       
    }
    
        .sobremi-containerTabla p {
            
            color: black;
            text-align: center;
        }


    /* .areas h1 {
        padding: 30px 0 ;

    }

    .areas p{

        font-size: 1.6rem;
    } */

   /*  .novedades-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
       

    }

    .novedades-container art {
        
        margin:20px;
        padding: 20px;

    }    
     */
    
    .footerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-items: center;

        
    }

    .footerContainer-newsletter{
         width: 90%;

    }
    
    .footerContainer-iframe {
        width: 90%;
        padding: 10%;
        font-size: 1.2rem;
        }

        .footerContainer-iframe p {
        
            padding:0;
            padding-bottom: 10px;
            }

    }
    
   /*  .novedades-container{
        display: flex;
        align-content: space-around;
        margin:10px;
        padding: 10px;
    }

    .novedades-container art{
        width: 100%;
        padding: 10px;

    } */


    .contacto p {
        
        font-size:1.2rem;
       
    }



@media screen and (max-width: 500px) {

    
    
    .areas-container .box:nth-child(1) {
    
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .areas-container .box:nth-child(2) {
    
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(3) {
    
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(4) {
    
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(5) {
    
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(6) {
    
        grid-column: span 1;
        grid-row: span 1;
    }



}    


@media screen and (max-width: 480px) {

    .main h1 {
        padding: 10px 0px 40px;
        text-align: center;
        font-size:2.2rem;
        line-height: 1.2em;
        font-weight: bold;
        color: whitesmoke;
        
        }

    .main p {
        width: 100%;
        padding: 0 0px 50px 0;
        font-size: 1.4rem;
        line-height: 0.8em;
        color:white;
        
    }

    .gridContainer {
        margin-bottom: 230px;
        
    }

    .sobremi-containerImg  {
        width: 45%; 
        border-radius: 180px;
    }
    
    .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.2rem;
        line-height:1em ;
       
    }
    
        .sobremi-containerTabla p {
            
            color: black;
            text-align: center;
            
        }

    /* .areas {
        width: 90%;

    }

    .areas h1 {
        font-size: 2.4rem;

    }

    .areas p {
        font-size: 1.2rem;

    } */

    /* .novedades p {
     font-size: 1.3rem;

    }

    .novedades-container art{
        width: 100%;
        padding: 10px;
        font-size: 1.3rem;

    }

    .novedades p {
        color: black;
        font-size: 1.2rem;
        padding: 20px;
    }

    .novedades h2 {
        padding: 0px;
        text-align: center;
        font-size:1.8rem;
        font-weight: bold;
    }

    .novedades h3 {
        padding: 0px;
        text-align: center;
        font-size:1.6rem;
        font-weight: bold;
    }

    .item {
        font-size: 1.4rem;

    } */

    /* FOOTER FOOTER FOOTER FOOTER */

    .footerContainer-newsletter{
         width: 90%;

    }
    
    .footerContainer-iframe {
        width: 90%;
        padding: 10%;
        font-size: 1.2rem;
        }

        .footerContainer-iframe p {
        
            padding:0;
            padding-bottom: 10px;
            }
                
    }

        .btn2 {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            padding: 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
           
        }

        

    @media screen and (max-width: 360px) {

        .main h1 {
            padding: 10px 0px 40px;
            text-align: center;
            font-size:1.8rem;
            line-height: 0.8em;
            font-weight: bold;
            color: whitesmoke;
            
            }
    
        .main p {
            width: 100%;
            padding: 20px;
            font-size: 1.2rem;
            line-height: 1em;
            color:white;
            text-align: center;
            width: 100%;
            
        }


        .sobremi-containerTabla {
            margin: 0 100px;
            font-size: 1rem;
        }

        .sobremi-container p {
            
            padding: 10px 0;
            font-size: 1.2rem;
        }
        
        .areas container {
            width: 90%;

        }
    
    
        /*     * FOOTER FOOTER FOOTER FOOTER */
    
        .footerContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-items: center;
    
            
        }
    
        .footerContainer-newsletter, .footerEnd{
             width: 90%;
             padding-top: 30px;
    
        }

        .footerContainer-newsletter h3 {
            width: 100%;
            font-size: 1.4rem;
            padding-bottom: 10px;
            
        }

        .footerContainer-newsletter p {
            text-align: center;
            
        }

        .footerContainer-newsletter input {
            width: 100%;
            
        }
        
        
        .footerContainer-iframe {
            display: none;
                    
        }

        
       /*  .areas h1 {
            font-size: 2.2rem;
            padding: 30px 0;
    
        }
    
        .areas p {
            font-size: 1rem;
    
        } */
    

        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            margin-top:20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            width: 60%;
            transition: all 0.3s linear;
            border-radius: 5px;
            padding: 10px 10px;
        }

        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
        }

        .btnContacto {
            width: 50%;
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
            
        }

         /* .novedades p {
            color: black;
            font-size: 1rem;
            padding: 15px 0;
        }
    
        .novedades h2 {
            padding: 0px;
            text-align: center;
            font-size:1.6rem;
            font-weight: bold;
        }
    
        .novedades h3 {
            padding: 10px;
            text-align: center;
            font-size:1.4rem;
            font-weight: bold;
        }
    
        .item {
            font-size: 1rem;
            padding: 0;
        }

        .item li {
            padding: 10px 0;
        }

        .contacto h2 {
            font-size:1.4rem;
            padding:5px 0;
        } 
        */
    
        }



        @media screen and (max-width: 300px) {


            .areas-container {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-template-rows: minmax(100px,auto);
                margin: 20px;
                grid-gap:5px;
                
            
            }
            
            .areas-container .box {
                
                padding: 10px;
                
                font-size: 0.8rem;
                
            }

            .areas-container .box h2 {
               
                
                font-size:1.2rem;
                
            }
            
            .areas-container .box p {
               
                
                padding: 10px 0;
                
            }


            .areas-container .box img {
                position:relative;
                max-width:60px;
                padding: 5px 0 10px 0;
            }
            

        }

