@media screen and (max-width: 830px) {

    .logo-nav-redes-conteiner {
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }

        .navLabel {
            display:block;
            cursor: pointer;
        }

        .navMenu {
            background: rgb(34, 41, 75);
            position: fixed;        
            top:120px;
            left:0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            clip-path: inset(0 0 100% 0);
            transition: clip-path 0.5s ease-in-out;
        }

        .navInput:checked + .navMenu {
            clip-path: inset(0 0 0 0);
        }

        .navInput:checked + .navMenu ul  {
            padding-top: 50px;
        }

        .navInput:checked + .navMenu ul li {
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 5px;
        }

        .navInput:checked + .navMenu ul li a {
           display: block;
            background-color: rgb(106, 148, 204);
            padding: 0px 80px;
           /*  transition: all 0.2s linear; */
            border-radius: 3px;
            }
        
        .navInput:checked + .navMenu ul li a:hover {
                background: transparent;
                text-decoration: underline;
            } 

/* FOOTER FOOTER FOOTER FOOTER */

    .contact-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card {
            width: 100%;
            max-width: 300px;
            padding-bottom: 20px;
            margin: 10px 0;
        }
        }   

    .card{
        min-width: 250px;
        }
    
/* INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX */


    .main {
        padding: 120px 0 0 0;
    }

    .main h1 {
        font-size:2.6rem;
        padding-top: 20px;
        }

    .main p {
        padding: 1rem 2.5rem;
        
    }
    /* .main h1 {
        font-size:2.6rem;
        padding: 20px 0 40px 0;
        }

    .main p {
        font-size: 1.3rem;
        padding:10px 0 10px 0;
    } */

    .main p:last-child {
        
        padding-bottom: 50px;
    }

/* ESTILOS GRID SOBRE MI */
    .gridContainer {
        margin-bottom: 400px;
        
    }

    .gridContainer{
        grid-template-columns: repeat(2, 1fr);

    }

    .gridItem:nth-child(6) {
        grid-column-end: span 2 ;
    
    }

    .navLabel {
        display:block;
        cursor: pointer;

    }
        
}

@media screen and (max-width: 685px) {
    .container {
        width: 90%;
    }

    .main h1 {
        font-size:2.2rem;
        padding-bottom: 40px;
         
        }

    .main p {
        font-size: 1.2rem;
        padding-bottom: 20px;
        padding: 1rem 1.5rem;
    } 
        
    }
    .gridContainer {
        margin-bottom: 350px;
    }

    .sobremi-container h1 {
        font-size: 2.8rem;
    } 

    .sobremi-container p {
        font-size: 1.2rem;  
    } 
    
    .footerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-items: center;
    }

    .contacto p {
        font-size:1.2rem;
    }

    

@media screen and (max-width: 500px) {
 
    .areas-container .box:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .areas-container .box:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(5) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .areas-container .box:nth-child(6) {
        grid-column: span 1;
        grid-row: span 1;
    }

}    

@media screen and (max-width: 480px) {

    .navInput:checked + .navMenu {
            
        top:90px;
        }

   .header {
       height: 90px;
   }

    .logo {
        width: 80px;
        padding-top: 2px;
    }
    
    .navImg {
        width:50px; 
        height:50px;
    }

    .redesHeader img {
        width: 30px;
        height: 30px;
    }

     /* FOOTER FOOTER FOOTER FOOTER */
  
     .footer-container .newsletter .email-box:hover > .t-box,.tbox:focus {
            width: 50%;
            padding: 0 10px;
        }
     }

    .footer-container .newsletter h3 {
        font-size: 1.4rem;
    }

    .footer-container .newsletter p {
        font-size: 1rem;
    }

    .footer-container .contact-info .card {
        height: 120px;
    }

    .footer-container .contact-info .card  {
        padding:0;
    }

    .footer-container .contact-info .card p {
        font-size: 0.9rem;
    }

    .footer-container{
        .contact-info{
            .card {
                .card-icon {
                    font-size: 20px;
                    background: #f2f2f2;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    border-radius: 50%;
                    transition: 0.3s linear;
                    
                    .card-icon i {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .footer-container .contact-info .card:hover .card-icon {
        background: none;
        color: #f2f2f2;
        transform: scale(1.2);
    }

    
    .main h1 {
        font-size:1.8rem;
        padding: 10px 0px 10px;
        text-align: center;
        }

    .main p {
        width: 100%;
        font-size: 1rem;
    }

    .sobreMi{
        padding: 100px 0 0 0;
    }

    .sobremi-container img {
        width: 60%;
    }

    .sobremi-texto h1 {
        font-size: 2.2rem;
        padding-bottom: 20px;
        margin:0;
    }

    .sobremi-texto p {
        font-size: 1rem;
        padding: 0;
    }
    
    
    .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.2rem;
        line-height:1em ;
    }
        .sobremi-containerTabla p { 
            color: black;
            text-align: center;
        }

    .areas{
        padding-top: 120px;
    }
    .areas-container .box h2 {
        font-size: 1.2rem;
    }
    .areas-container .box p {
        font-size: 1rem;
    }

    .areas-container .box img {
        width: 60px;
        height: 90px;
    }

    .novedades {
        padding: 120px 0 50px 0;
            h1 {
                padding-bottom: 20px;
            }
    }

    .contacto {
        padding: 70px 0px 20px 0px;
    }

    .form-container .half {
        flex-direction: column;
    }
    .form-container .action {
        display: flex;
        flex-direction: column;
    }
    .form-container .action input {
        margin-bottom: 10px;
        width: 100%;
    }
    .form-container .half .item {
        width: 100%;
    }

   

    @media screen and (max-width: 360px) {
        .main h1 {
            
            font-size:1.6rem;
            padding: 10px 0 20px 0;
            }
    
        .main p {
           
            font-size: 0.8rem;
            padding: 10px 0 10px 0;
            
        }

        .sobremi-containerTabla {
            margin: 0 100px;
            font-size: 1rem;
        }

        .sobremi-container p {
            
            padding: 10px 0;
            font-size: 1.2rem;
        }
        
    
        /*     * FOOTER FOOTER FOOTER FOOTER */
    
        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            margin-top:20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            width: 60%;
            transition: all 0.3s linear;
            border-radius: 5px;
            padding: 10px 10px;
        }

        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
        }

        .btnContacto {
            width: 50%;
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
            
        }
    }


        @media screen and (max-width: 300px) {
            .areas-container {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-template-rows: minmax(100px,auto);
                margin: 20px;
                grid-gap:5px;
            }
            
            .areas-container .box {
                padding: 10px;
                font-size: 0.8rem;
            }

            .areas-container .box h2 {
                font-size:1.2rem;
            }
            
            .areas-container .box p {
                padding: 10px 0;
            }

            .areas-container .box img {
                position:relative;
                max-width:60px;
                padding: 5px 0 10px 0;
            }

        }

