.sobreMi{
    padding: 150px 0 0 0;
}

.sobremi-container {
   @include flex-spacearound-center;
    flex-direction: column;
    justify-items: center;
} 


.carrousel-container {  
    @include container;
    height: 100%;
    padding: 30px;
    }

    .carrousel-container h2 {
        padding:1em;
    }

    .sobremi-container h1 {
        padding-top: 40px;
        margin: 10px;
        font-size: 3.4rem;
        line-height: 1.2em;
        text-align: center;
        
    } 

.sobremi-container p {
    padding: 0.5rem 2rem;
    margin-bottom: 1.2em;
    font-size: 1.4rem;
    line-height: 1em;
        
} 

.sobremi-container Img  {
    width: 40%; 
    border-radius: 180px;
}




/* ESTILOS DE LA GALERIA DE IMAGENES */

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 33%;
    padding: 40px;
    grid-gap: 10px;

        h2 {
            font-size: 1rem;
        }
}

.gridItem {
    position: relative;
}


.gridItem:nth-child(2) {
    grid-row-start: span 2 ;
}

.gridItem:nth-child(6) {
    grid-column-end: span 3 ;
}

.gridImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridTitle {
    position: absolute;
    bottom:0;
    color: white;
    background: rgb(20,38,78);
    background: linear-gradient(180deg, rgba(20,38,78,1) 0%, rgba(49,76,136,1) 100%);   
    width: 100%;
    margin: 0;
    padding: 2px;


        
}
