*{
    margin:0;
    padding:0;

    /* Con border-box, los valores en porcentaje tienen en cuenta el margin y padding para hacer el calculo. 
    Sino, calculan el ancho total MAS estas dos propiedades genreando contenedores mas anchos de los que queremos. */
    box-sizing: border-box;
}

    h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;

}


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:black;
    margin:0;
    
}

p {

    margin-bottom: 1.6em;
    color:black;
    margin: 0;

}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}  

.footerContainer {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}

 /* ESTILO BOTONES */
 .btn {
        
    background-color: rgb(106, 148, 204); 
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.btnFooter {
    
    background-color: rgb(106, 148, 204); 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
    
}

.btn:hover {
    background-color: rgb(34, 41, 75);

}


.btnContacto {
    width: 20%;
    background-color: rgb(106, 148, 204); 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.btn2 {
    
    background-color: rgb(106, 148, 204); 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
   
}



/* HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER ** HEADER *HEADER *HEADER *HEADER *HEADER *HEADER *HEADER *HEADER */

    .header {
        background-color: rgb(49, 76, 136);
        position:fixed;
        width: 100%;
        z-index: 1;
    }

    .header a{
        color:white;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 2em; 
        
    }

    /* LOGO - HEADER*/

    .logo {
        width: 100px;
        padding: 5px;
        
    }

    .logo-nav-redes-conteiner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar {
        background: rgb(49, 76, 136);
       
    }

    .dropdown-menu {
        background: rgb(49, 76, 136);

    }

    .nav-item a {
    
        color:white;

    }


    .navbar-light .navbar-nav .nav-link {
        color:white;
    }

    /* MENU NAVEGABLE - HEADER*/


    .navMenu ul {
        list-style: none;
        margin:0;
        padding: 0;
    }

    .navMenu ul li{
        display: inline-block;
        padding: 0px;
        font-size: 1.8rem;
    }

    .navMenu ul li a {
        display: block;
        background-color: rgb(106, 148, 204);
        padding: 0px 10px;
        transition: all 0.2s linear;
        border-radius: 5px;
    }

    .navMenu ul li a:hover {
        background-color: rgb(34, 41, 75);

    }

    .navLabel, .navInput {
        display: none;
    }

    /* REDES SOCIALES S - HEADER */

    .redesHeader a img {
        border-radius: 105px;
    }

    /* FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER ** FOOTER */

    .footer {
        background: #f2f2f2;
        padding: 2.5rem 0 0 0;
        }
        
        .footer p{
        color: black;
        padding: 0px;
        }
    
        .footerContainer {
            width: 85%;
            max-width: 850px;
            margin: 0 auto;

        }      

        .footerContainer {
            width: 85%;
            max-width: 850px;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            }

            .footerContainer-newsletter {
                /* display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; */
                width: 40%;

            }


            .footerContainer-newsletter h3 {
                color: black;
                font-size: 1.5rem;

                }

            .footerContainer-newsletter form {
                color: black;
                font-size: 1.2rem;

                }
   

            .footerContainer-info  {
                width: 33%;

            }      
                
            .footerContainer-iframe{
                width: 40%;
                font-size: 1.2rem;
            
                        }

            .footerContainer-iframe p {
                padding: 0 0px 10px 20px;
            
                        }
            
        .footerEnd {
                padding: 30px 0 0 0;
                }

        .footerEnd p {
                
                text-align: center;
                }

        .firma {
            font-weight: bold;
        }

            
        .copyright {
                margin: 10px 0 0 0;
                border-top: solid 1px black;
            }
        
   
/* INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX */

.main {
    padding: 150px 0 50px 0px;
  /*   width: 100%; */
  /*   height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("../images/hero.png");
    background-attachment: fixed;
    opacity: 0.9;
    

}

    .main h1 {
        padding: 0px;
        text-align: center;
        font-size:3.6rem;
        line-height: 2em;
        font-weight: bold;
        color: whitesmoke;
        
        }

    .main p {
        
        padding: 25px;
        font-size: 2rem;
        line-height: 1em;
        color:white;
        font-weight: 400;
        
    }




/* PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI ** PAGE: SOBRE MI */



.sobreMi{
    padding: 200px 0 0 0;
    
}

.sobremi-container {
    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-items: center;

} 


.carrousel-container {

    width: 85%;
    height: 100%;
    max-width: 850px;
    margin: 0 auto;

    padding: 30px;


}

.sobremi-container p {

    padding-top: 40px;
    margin: 10px;
    font-size: 1.6rem;
    line-height: 1.4em;
    text-align: center;
    
} 


.sobremi-containerImg  {
    width: 60%; 
    border-radius: 180px;
}

.sobremi-containerTabla  {
    width: 90%;    
    text-align: center;
    font-size: 1.6rem;
    line-height:1.2em ;
    padding: 30px;
   
}

    .sobremi-containerTabla p {
        
        color: black;
        text-align: center;
    }




/* ESTILOS DE LA GALERIA DE IMAGENES */

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 33%;
    padding: 40px;
    grid-gap: 10px;
  
}

.gridItem {
    position: relative;
}


.gridItem:nth-child(2) {
    grid-row-start: span 2 ;


}

.gridItem:nth-child(6) {
    grid-column-end: span 3 ;

}

.gridImg{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gridTitle {
    position: absolute;
    bottom:0;
    color: white;
    background: rgb(20,38,78);
    background: linear-gradient(180deg, rgba(20,38,78,1) 0%, rgba(49,76,136,1) 100%);   
    width: 100%;
    margin: 0;
    padding: 2px;
}


/* PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA ** PAGE: AREAS DE PRACTICA */

.areas{
    font-size: 2.2rem;
    list-style: none;
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
}

    .areas h1 {
            margin: 10px;
            text-align: center;
            font-size:3rem;
            padding: 30px;
        }

    .areasDePractica p {
        width: 100%;
        font-size: 1.6rem;
        margin: 20px;

    }


.item {
    /* padding: 20px 20px; */
    font-size: 1.6rem;
    background-color: #f2f2f2;
    border: solid 1px black;
    padding: 10px;
    
}


.item p {
    height: 100%;
    
}

.item1 h2 {
    font-size: 2rem;
    padding: 20px;

}

       


/* PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES ** PAGE: NOVEDADES */

.novedades-container {
    padding: 200px 0 50px 0;

}

.novedades {
    padding: 150px 0 50px 0;
}

    .novedades p {
        color: black;
        font-size: 1.8rem;
        padding: 20px;
    }

    .novedades h2 {
        padding: 0px;
        text-align: center;
        font-size:2.4rem;
        font-weight: bold;
    }

    .novedades h3 {
        padding: 0px;
        text-align: center;
        font-size:2rem;
        font-weight: bold;
    }

    .novedades li {
        padding: 20px;
        text-align: center;
    }

.novedades-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px ;
    font-size: 2rem;
}

    .novedades-container art h3 {

        padding: 0 0 15px 0;

    }

.novedades-container row {
    padding-top: 200px;
}

.estilo-noveades h3 {
    padding-bottom: 20px;
}

/* PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO ** PAGE: CONTACTO */

.contacto {
    padding: 150px 0px 50px 0px;
    font-size: 1.4rem;
    color: black;
}



    .contacto h2 {
        padding: 20px;
        text-align: center;
        font-size:1.8rem;
        font-weight: bold;
        line-height: 1em;
    }


.formContainer{
    text-align: left;
    align-content: center;
    padding-top: 25px;
    padding:1em;

}

.formContainer label {
    font-size: 1.4rem;
}




@media screen and (max-width: 970px) {

    .main h1 {
        text-align: center;
        font-size:2.6rem;
        font-weight: bold;
        color: whitesmoke;
        }
    }

/* 
MEDIA QUERIES: Estos estilos aplicarán solo cuando el tamaño de la pantalla sea como máximo 767px */


@media screen and (max-width: 768px) {


/* HEADER HEADER HEADER*/
    
.header {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
    }

.logo-nav-redes-conteiner{
    display: flex;
    align-content: space-around;
}

    .navLabel {
        display:block;
        cursor: pointer;
    }

    .navMenu {
        display: none;
    }

    .navInput:checked + .navMenu {
        
        background: rgb(34, 41, 75);
        position: fixed;        
        top:120px;
        left:0;
        bottom: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navInput:checked + .navMenu ul li {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        justify-items: center;
        margin: 10px;
        padding: 5px;
        width: 100%;
    }

    .navInput:checked + .navMenu ul li a {
    
        display: block;
        background-color: rgb(106, 148, 204);
        padding: 0px 20px;
        transition: all 0.2s linear;
        border-radius: 5px;
        }
    
    /* .navInput:checked + .navMenu ul li a:hover {
            background-color: rgb(34, 41, 75);
    
        } */

    .redesHeader{
        display: flex;
        flex-direction: column;
    }

/* FOOTER FOOTER FOOTER FOOTER */

.footerContainer {
   
    display: flex;
    align-content: space-around;
    
} 

.footerContainer-iframe{
    width: 50%;
    font-size: 1.2rem;

            }




/* INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX ** INDEX */

.main {
    padding: 120px 0 0 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image:url(/images/banner.jpg); */
    
    

}

    .main h1 {
        padding: 10px;
        text-align: center;
        font-size:2.4rem;
        font-weight: bold;
        color: whitesmoke;
        
        }

    .main p {
        width: 100%;
        padding: 0 0px 50px 0;
        font-size: 1.6rem;
        line-height: 1em;
        color:white;
        
    }

    



/* ESTILOS GRID SOBRE MI */




    .gridContainer {
        margin-bottom: 400px;
        
    }

    .gridContainer{
        grid-template-columns: repeat(2, 1fr);

    }

    .gridItem:nth-child(6) {
        grid-column-end: span 2 ;
    
    }

    .navLabel {
        display:block;
        cursor: pointer;

    }


    .novedades p {
        color: black;
        font-size: 1.4rem;
        padding: 20px;
    }

    .novedades h2 {
        padding: 0px;
        text-align: center;
        font-size:2rem;
        font-weight: bold;
    }

    .novedades h3 {
        padding: 0px;
        text-align: center;
        font-size:2rem;
        font-weight: bold;
    }

    .item {
        font-size: 1.4rem;

    }
        
}


@media screen and (max-width: 680px) {


    .container {
        width: 90%;

    }

    .gridContainer {
        margin-bottom: 350px;
        
    }

    .sobremi-containerImg  {
        width: 50%; 
        border-radius: 180px;
    }
    
    .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.3rem;
        line-height:1.1em ;
       
    }
    
        .sobremi-containerTabla p {
            
            color: black;
            text-align: center;
        }


    .areas h1 {
        padding: 30px 0 ;

    }

    .areas p{

        font-size: 1.6rem;
    }

    .novedades-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
       

    }

    .novedades-container art {
        
        margin:20px;
        padding: 20px;

    }    
    
    
    .footerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-items: center;

        
    }

    .footerContainer-newsletter{
         width: 90%;

    }
    
    .footerContainer-iframe {
        width: 90%;
        padding: 10%;
        font-size: 1.2rem;
        }

        .footerContainer-iframe p {
        
            padding:0;
            padding-bottom: 10px;
            }

    }
    
    .novedades-container{
        display: flex;
        align-content: space-around;
        margin:10px;
        padding: 10px;
    }

    .novedades-container art{
        width: 100%;
        padding: 10px;

    }


    .contacto p {
        
        font-size:1.2rem;
       
    }


@media screen and (max-width: 480px) {

    .main h1 {
        padding: 10px 0px 40px;
        text-align: center;
        font-size:2.2rem;
        line-height: 1.2em;
        font-weight: bold;
        color: whitesmoke;
        
        }

    .main p {
        width: 100%;
        padding: 0 0px 50px 0;
        font-size: 1.4rem;
        line-height: 0.8em;
        color:white;
        
    }

    .gridContainer {
        margin-bottom: 230px;
        
    }

    .sobremi-containerImg  {
        width: 45%; 
        border-radius: 180px;
    }
    
    .sobremi-containerTabla  {
            
        text-align: center;
        font-size: 1.2rem;
        line-height:1em ;
       
    }
    
        .sobremi-containerTabla p {
            
            color: black;
            text-align: center;
            
        }

    .areas {
        width: 90%;

    }

    .areas h1 {
        font-size: 2.4rem;

    }

    .areas p {
        font-size: 1.2rem;

    }

    .novedades p {
     font-size: 1.3rem;

    }

    .novedades-container art{
        width: 100%;
        padding: 10px;
        font-size: 1.3rem;

    }

    .novedades p {
        color: black;
        font-size: 1.2rem;
        padding: 20px;
    }

    .novedades h2 {
        padding: 0px;
        text-align: center;
        font-size:1.8rem;
        font-weight: bold;
    }

    .novedades h3 {
        padding: 0px;
        text-align: center;
        font-size:1.6rem;
        font-weight: bold;
    }

    .item {
        font-size: 1.4rem;

    }

/*     * FOOTER FOOTER FOOTER FOOTER */

    .footerContainer-newsletter{
         width: 90%;

    }
    
    .footerContainer-iframe {
        width: 90%;
        padding: 10%;
        font-size: 1.2rem;
        }

        .footerContainer-iframe p {
        
            padding:0;
            padding-bottom: 10px;
            }
                
    }

        .btn2 {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            padding: 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
           
        }

        

    @media screen and (max-width: 360px) {

        .main h1 {
            padding: 10px 0px 40px;
            text-align: center;
            font-size:1.8rem;
            line-height: 0.8em;
            font-weight: bold;
            color: whitesmoke;
            
            }
    
        .main p {
            width: 100%;
            padding: 20px;
            font-size: 1.2rem;
            line-height: 1em;
            color:white;
            text-align: center;
            width: 100%;
            
        }


        .sobremi-containerTabla {
            margin: 0 100px;
            font-size: 1rem;
        }

        .sobremi-container p {
            
            padding: 10px 0;
            font-size: 1.2rem;
        }
        
        .areas container {
            width: 90%;

        }
    
    
        /*     * FOOTER FOOTER FOOTER FOOTER */
    
        .footerContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-items: center;
    
            
        }
    
        .footerContainer-newsletter, .footerEnd{
             width: 90%;
             padding-top: 30px;
    
        }

        .footerContainer-newsletter h3 {
            width: 100%;
            font-size: 1.4rem;
            padding-bottom: 10px;
            
        }

        .footerContainer-newsletter p {
            text-align: center;
            
        }

        .footerContainer-newsletter input {
            width: 100%;
            
        }
        
        
        .footerContainer-iframe {
            display: none;
                    
        }

        
        .areas h1 {
            font-size: 2.2rem;
            padding: 30px 0;
    
        }
    
        .areas p {
            font-size: 1rem;
    
        }
    

        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            margin-top:20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            width: 60%;
            transition: all 0.3s linear;
            border-radius: 5px;
            padding: 10px 10px;
        }

        .btnFooter {
    
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
        }

        .btnContacto {
            width: 50%;
            background-color: rgb(106, 148, 204); 
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
            
        }


        .novedades p {
            color: black;
            font-size: 1rem;
            padding: 15px 0;
        }
    
        .novedades h2 {
            padding: 0px;
            text-align: center;
            font-size:1.6rem;
            font-weight: bold;
        }
    
        .novedades h3 {
            padding: 10px;
            text-align: center;
            font-size:1.4rem;
            font-weight: bold;
        }
    
        .item {
            font-size: 1rem;
            padding: 0;
            
    
        }

        .item li {

            padding: 10px 0;
        }

        .contacto h2 {
            font-size:1.4rem;
            padding:5px 0;

        }


        }


